* {
    box-sizing: border-box;
}

@font-face {
    font-family: poppins;
    src: url(./fonts/Poppins-Medium.ttf);
}

@font-face {
    font-family: impact;
    src: url(./fonts/impact.ttf);
}

body {
    background-color: #22252c;
}

/* basic */

html {
    font-family: poppins, sans-serif;
    color: #ffffff;
    line-height: 1.25
}

body {
    font-size: 1.3125rem;
    margin: 0;
    letter-spacing: normal;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    margin-top: 0;
}

/* helpers */

.flex {
    display: flex;
}

.flex-c {
    display: flex;
    flex-direction: column;
}

.flex.space-between {
    justify-content: space-between;
    /* מצמיד אות האלמנטים לצדדים */
}

.flex.align-center {
    align-items: center;
    /* לפי הגובה הם גם באמצע */
}

.flex-c.space-between {
    justify-content: space-between;
}

.flex-c.align-center {
    align-items: center;
}

.flex.justify-center {
    justify-content: center;
}

.flex.justify-left {
    justify-content: left;
}

.flex.justify-evenly {
    justify-content: space-evenly;
}

.warp {
    flex-wrap: wrap;
}

.grid {
    display: grid;
    gap: 26px 30px;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
}

/* list helper */

.clean-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-block-start: none;
    margin-block-end: none;
}

.clean-link {
    text-decoration: none;
    color: #fff;
}

.clean-btn {
    width: 3rem;
    height: 3rem;
    margin: 0 20px 30px;
}

/* layout */

.container {
    max-width: 1260px;
    margin: 0 auto;
}

.main-container {
    max-width: 1240px;
    /* background-color: #fff; */
    margin: 0 auto;
    border-radius: 10px;
    background-color: #383b42;
}

header.main-header {
    height: 75px;
    margin: 0 auto;
    border-radius: 37px;
    background: #00F260;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #0575E6, #00F260);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0575E6, #00F260);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header-content {
    height: 100%;
}

.logo {
    width: 50%;
    margin-inline-start: 80px;
    font-size: 1.375rem;
    text-transform: uppercase;
}

.main-nav {
    width: 50%;
    /* background-color: #fff; */
}

.main-header .gallery {
    /* position: relative; */
    /* left: -50%; */
    margin-right: 40px;
    padding: 10px 20px;
    /* background-color: #fff; */
    color: #21ac91;
    box-shadow: 0 3px 6px 1px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    background-color: #fefefe;
}

main.main-content {
    margin-bottom: 10px;
}

.search-container {
    height: 60px;
    margin-top: 25px;
    margin-bottom: 45px;
}

.search-container input {
    background-color: #22252c;
    /* opacity: 0.38;
    color: #fefefe;
    font-weight: 300; */
}

.pic {
    /* margin-left: 60px; */
    padding: 0 30px;
    margin-bottom: 10px;
}

.pic img {
    object-fit: cover;
    max-width: 100%;
    /* height: 100%; */
}

.pic img:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.footer-contant h1 {
    text-align: center;
}

.fab {
    color: #fff;
}

main .main-editor{
    margin: 0 auto;
}



main .canvas-editor {
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 30px;
    background-color: #999999;
    max-width: 480px;
}

main .control-box {
    /* width: 460px; */
    margin: 40px;
}

main .control-box .memeTxt {
    height: 2rem;
    box-shadow: 1px 5px 0 #bbc4d1, inset 0 5px 0 #ffffff;
    border-radius: 28px;
    background-color: #ebeef3;
    margin-bottom: 2rem;
    width: 100%;
    outline: none;
}

main .control-box .box-btn button {
    box-shadow: 1px 5px 0 rgba(92, 92, 92, 0.55), inset 0 5px 0 rgba(255, 255, 255, 0.58);
    border-radius: 10px;
    font-size: 1.5rem;
}

main .control-box .box-btn button:hover {
    cursor: pointer;
}

@media (max-width: 700px) {
    .pic {
        max-width: 680px;
    }

 
    main .main-editor{
        flex-direction: column;
    }
}